{% load staticfiles %}
{% load bootstrap3 %}

<script src="{% static "jquery.min.js" %}"></script>
<link href="{% static "bootstrap.min.css" %}" media="all" rel="stylesheet">
<script src="{% static "bootstrap.min.js" %}"></script>


<style type='text/css'>
	#ph1 {
		float: left;
		width: 30%;
	}

	#patient_info {
		float: left;
		width: 40%;
		text-align: left;
	}

	#left_div {
		float: left;
		width: 65%;
		text-align: center;
	}

	#right_div {
		float: right;
		width: 30%;
		text-align: center;
	}

	p {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 2.5em;
	}

</style>

<html>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'index' %}">Início</a></li>
						<li><a href="{% url 'access_log' %}">Relatório de Acessos</a></li>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>


		{% block content %}
		<h1>
			Under Construction
		</h1>
		{% endblock %}
	</body>
</html>


<script type='text/javascript'>
	function selectPatient() {
		var e = document.getElementById("patientSelection");
		var str = e.options[e.selectedIndex].value;
		var url = "/medical/sensors_list/" + str;
		window.open(url, "_self");
	}
</script>
