{% extends "base.html" %}

{% block content %}
	<br/>
	<br/>
	<div id="left_div">
		<div class="panel panel-primary" style="width: 80%; float: right">
			<div class="panel-heading">
				Dados do Paciente
			</div>
			<div class="panel-body">
				<div id="ph1">
					&nbsp;
				</div>
				<div id="patient_info">
					<b>Nome:</b> {{ patient.name }} {{ patient.lastname }}
					<br/>
					<b>Sexo:</b> {{ patient.gender }}
					<br/>
					<b>Data de Nasc.:</b> {{ patient.date_of_birth }}
					<br/>
					<b>Endereço:</b> {{ address }}
				</div>
				<div id="ph1">
					&nbsp;
				</div>
				<br/>
			</div>
		</div>
	</div>

	<div id="right_div">
		<div class="panel panel-primary" style="width: 80%; float: right; margin-right: 20%">
			<div class="panel-heading">
				Sensores Disponíveis
			</div>
			<div class="panel-body">
				<div class="list-group">
					<a href="{% url 'blood_pressure_sensor' patient.pk %}" class="list-group-item">Sensor de Pressão</a>
					<a href="{% url 'temperature_sensor' patient.pk %}" class="list-group-item">Termomêtro</a>
					<a href="{% url 'heartbeat_sensor' patient.pk %}" class="list-group-item">Batimentos Cardíacos</a>
				<br/>
			</div>
		</div>
	</div>

{% endblock %}
